ul{
  list-style: none;
} 
.bg-color{
  background-color: rgb(70, 66, 66);
}
.jumbotron{
  background: linear-gradient(0deg,#fff,transparent),
              url(images/blueprint.jpg) no-repeat center;
  background-size:  cover;
 height: max-content;
}


.title-letter{
  	font-family: 'Megrim', cursive;
    font-weight: bold;
}

:target, .highlight:hover{
  box-shadow: 0px 0px 10px 10px rgba(0,0,0, .2);
}

.highlight{
  border: 1;
}

.social-media-contact a::after{
  margin: 10px;
  display: inline-block;  /* you need to put this, that way you can modify the shape of the element */
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.instagram::after{
  content: url(./media/instagram.svg);
}
.facebook::after{
  content: url(./media/facebook.svg);
}
.twitter::after{
  content: url(./media/twitter.svg);
}

/* ------ table --------- */


table {
 padding: 20px;
  margin-top: 100px auto;
  

}

thead th {
  font-weight: 400;
  
  color: black;
}


th, td {
  text-align: left;
  padding: 20px;
  font-weight: 300;
 
}


tr {
  width: 100%;
  display: inline-table;
  height: 60px; 
}


/* ---- Footer ---- */
.main-footer {
  background-color: rgb(70, 66, 66);
    /* margin-top: 50px; */
    padding: 10px 0;
    text-align: center;
    margin-bottom: 0;
    
}
.main-footer li {   
  margin: 0px;

}
footer img{
  width: 30px;
  height: 24px;
}